.logo {
    width: 120px;
    height: 120px;

}

.logo-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.button-row {
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.btn-submit {
    min-width: 150px;
}