.srequisito-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.button-row {
    display: flex;
    justify-content: space-around;
}

.excluir {
    background-color: red !important;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.full-width {
    margin: 0px 5px 0px;
}

@media screen and (min-width: 600px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3px;
    }

}

.card {
    margin-left: 3px;
    margin-bottom: 3px;
    max-width: 350px;
}