.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.perfil-form {
  padding: 10px;
  margin-left: -30px;
  margin-top: 10px;
}