<div class="logo-container">
    <h3>Requisitos Legais</h3>
</div>

<div class="card-container">
    @if (loadData) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    @if (profile === 'admin') {
    <div class="upload-container">
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none"
            accept=".pdf,.doc,.docx,.png,.jpg">

        <button class="btn-upload" (click)="fileInput.click()" mat-flat-button color="primary" extended>
            <mat-icon>upload</mat-icon>
            Enviar Arquivo
        </button>
        @if (selectedFile) {
        <p class="file-info">
            Selecionado: <strong>{{ selectedFile.name }}</strong>
        </p>
        }
    </div>
    }
    <div class="container-arquivos">
        @for (item of itens; track item.id) {
        <mat-card class="item-card">

            <mat-card-header>
                <!-- <div mat-card-avatar class="file-icon">
                    <mat-icon>insert_drive_file</mat-icon>
                </div> -->
                <mat-card-title>{{ item.nome }}</mat-card-title>
                <mat-card-subtitle style="color:blue">
                    Atualizado em {{ item.dataUpload | date:'dd/MM/yyyy' }}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="card-content">
                <p class="descricao">{{ item.descricao || 'Sem descrição informada.' }}</p>
            </mat-card-content>
            <p style="margin-left: 15px;color:gray">{{ item.tamanho }}</p>

            <mat-divider></mat-divider>

            <mat-card-actions align="end" class="card-actions">
                @if (profile === 'admin') {
                <button mat-button style="color: red;" (click)="excluir(item.id)">
                    <mat-icon>delete</mat-icon>
                    Excluir
                </button>
                }
                <button mat-flat-button color="primary" (click)="baixar(item.id)">
                    <mat-icon>download</mat-icon>
                    Baixar
                </button>
            </mat-card-actions>

        </mat-card>
        } @empty {
        <div class="empty-state">
            <mat-icon>cloud_off</mat-icon>
            <p>Nenhum arquivo encontrado.</p>
        </div>
        }
    </div>
</div>
<p class="total-linhas">Total {{itens.length}} linhas</p>