@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}


mat-icon {
    font-family: 'Material Icons';
    vertical-align: middle;
}

.top {
    padding: 8px;
    margin-left: 130px;
    font-size: 50px;

}

.user {
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;

    .img {
        width: 40px;
    }

    .name {
        color: white;

    }

    .mail {
        margin-top: -10px;
        color: #697d95;

    }
}

.menu-item {
    .menu-button {
        border-radius: 8px;
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
        color: white;
        background-color: #061529;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 15px;
    }


    .menu-button:hover {
        display: flex;
        justify-content: space-evenly;
        color: #061529;
        background-color: rgb(255, 255, 255);
    }

    .menu-button:focus {
        background: rgb(216, 216, 216);
        color: black;
    }
}